.legendContainer {
  margin-top: 15px;
  padding: 30px;
  background: var(--card);
  border-radius: 24px;
}

.legendContent {
  display: flex;
  gap: 9px;
  align-items: center;
}

.green {
  width: 9px;
  height: 9px;
  background-color: #3eebbe;
  border-radius: 50%;
}

.yellow {
  width: 9px;
  height: 9px;
  background-color: #dfeb3d;
  border-radius: 50%;
}

.red {
  width: 9px;
  height: 9px;
  background-color: #e666b3;
  border-radius: 50%;
}

.legendContainer h2 {
  color: var(--white-2);
  margin-bottom: 15px;
}