.headingContainer {
  display: inline-block;
  margin-bottom: 6px;
}

.heading {
  background: var(--gradient-atlantic);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 24px;
  font-weight: 700 !important;
  position: relative;
  display: inline-block;
}

.underline {
  height: 6px;
  background: var(--gradient-atlantic);
}

@media (min-width: 768px) {
  .heading {
    font-size: 35px;
  }
}